<%= form_with(model: raw_material) do |form| %>
  <% if raw_material.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(raw_material.errors.count, "error") %> prohibited this raw_material from being saved:</h2>

      <ul>
        <% raw_material.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="container">

      <div class="form-floating mb-3">
      <%= form.text_field :product_name, class: "form-control " %>
      <%= form.label :product_name, style: "display: block", class: "col-sm-2 control-label" %>
    </div>

    <div class="form-floating mb-3">
      <%= form.text_field :product_type, class: "form-control" %>
      <%= form.label :product_type, style: "display: block", class: "col-sm-2 control-label" %>
    </div>
    <div class="form-floating mb-3">
      <%= form.number_field :volume_solid, class: "form-control" %>
      <%= form.label :volume_solid, style: "display: block", class: "col-sm-2 control-label" %>
    </div>

    <div class="form-floating mb-3">
      <%= form.number_field :weight_solid, class: "form-control" %>
      <%= form.label :weight_solid, style: "display: block", class: "col-sm-2 control-label" %>
    </div>

    <div class="form-floating mb-3">
      <%= form.number_field :volatile_organic_compound, class: "form-control" %>
      <%= form.label :volatile_organic_compound, style: "display: block", class: "col-sm-2 control-label" %>
    </div>

    <div class="form-floating mb-3">
      <%= form.number_field :pigment_volume_concentration, min: 0, class: "form-control" %>
      <%= form.label :pigment_volume_concentration, style: "display: block", class: "col-sm-2 control-label" %>
    </div>

    <div class="form-floating mb-3">
      <%= form.number_field :density, min: 0.00, class: "form-control" %>
      <%= form.label :density, style: "display: block", class: "col-sm-2 control-label" %>
    </div>

    <div class="form-floating mb-3">
      <%= form.number_field :price, min: 0, class: "form-control" %>
      <%= form.label :price, style: "display: block", class: "col-sm-2 control-label" %>
    </div>

    <div class="form-floating mb-3 d-grid gap-2 d-md-flex justify-content-md-end">
      <%= form.submit class:"btn btn-sm btn-outline-success" %>
    </div>
</div>
<% end %>
