<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover table-sm">
    <thead>
      <tr> 
        <th scope="col">Product name</th>
        <th scope="col">Product type</th>
        <th>Volume solid</th>
        <th>Weight solid</th>
        <th>Volatile organic compound</th>
        <th>Pigment volume concentration</th>
        <th>Density</th>
        <th>Price</th>
        <th></th>
        <th></th>
      </tr>
    </thead>

      <tbody>
      <% @raw_materials.try(:each) do |raw_material| %>
        <tr>
          <td><%= raw_material.product_name %></td>
          <td><%= raw_material.product_type %></td>
          <td class="text-center"><%= raw_material.volume_solid %></td>
          <td class="text-center"><%= raw_material.weight_solid %></td>
          <td class="text-center"><%= raw_material.volatile_organic_compound %></td>
          <td class="text-center"><%= raw_material.pigment_volume_concentration %></td>
          <td class="text-center"><%= raw_material.density %></td>
          <td class="text-center"><%= raw_material.price %></td>
          <td class="text-center"><%= button_to "Delete", raw_material, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-outline-danger btn-sm"%></td> 
          <td><%= link_to "Show", raw_material, class:"btn btn-outline-success btn-sm mb-3"%></td>
        </tr>
        <% end %>
      </tbody>
    </table>
</div>
