<div id="<%= dom_id raw_material %>">
  <div class="table-responsive">
    <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
      <th>  
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
  <p>
    <strong>Product name:</strong>
    <%= raw_material.product_name %>
  </p>

  <p>
    <strong>Product type:</strong>
    <%= raw_material.product_type %>
  </p>

  <p>
    <strong>Volume solid:</strong>
    <%= raw_material.volume_solid %>
  </p>

  <p>
    <strong>Weight solid:</strong>
    <%= raw_material.weight_solid %>
  </p>

  <p>
    <strong>Volatile organic compound:</strong>
    <%= raw_material.volatile_organic_compound %>
  </p>

  <p>
    <strong>Pigment volume concentration:</strong>
    <%= raw_material.pigment_volume_concentration %>
  </p>

  <p>
    <strong>Density:</strong>
    <%= raw_material.density %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= raw_material.price %>
  </p>

</div>
