<p style="color: green"><%= notice %></p>

<%= render @raw_material %>

<div>
  <%= link_to "Editar this raw material", edit_raw_material_path(@raw_material) %> |
  <%= link_to "Back to raw materials", raw_materials_path %>

  <%# <%= button_to "Destroy this raw material", @raw_material, method: :delete, class:"btn btn-danger" %> %>
</div>
