<div class="col-12">

<div class="raw_materials">
  <p style="color: green"><%= notice %></p>
  <div class="container">
    <h1 class="text-left">Showing Raw Material</h1>

    <div class="text-left">
      <b><label class="label" for="">Nome do produto:</label></b> <%= @raw_material.product_name %>
    </div>
    <div class="text-left">
      <b><label for="">Tipo:</label></b> <%= @raw_material.product_type %>
    </div>
    <div class="text-left">
      <b><label for="">Volume Solidos:</label></b> <%= @raw_material.volume_solid %>
    </div>
    <div class="text-left">
      <b><label for="">Peso Solidos:</label></b> <%= @raw_material.weight_solid %>
    </div>
    <div class="text-left">
      <b><label for="">VOC:</label></b> <%= @raw_material.volatile_organic_compound %>
    </div>
    <div class="text-left">
      <b><label for="">PVC:</label></b> <%= @raw_material.pigment_volume_concentration %>
    </div>
    <div class="text-left">
      <b><label for="">Densidade:</label></b> <%= @raw_material.density %>
    </div>
    <div class="text-left">
      <b><label for="">Preco:</label></b> <%= @raw_material.price %>
    </div>
    <%= link_to "Edit this raw material", edit_raw_material_path(@raw_material), class:"btn btn-outline-success btn-sm"%>
    <%= link_to "Back to raw materials", raw_materials_path, class:"btn btn-outline-success btn-sm" %>
  </div>

 </div>

