<p style="color: green"><%= notice %></p>


<div class="text-left">
      <b><label class="label" for="">Project name: </label></b> <%= @formulation.project_name %>
    </div>
    <div class="text-left">
      <b><label for="">Description: </label></b> <%= @formulation.description %>
    </div>


<div>
  <%= link_to "Edit this formulation", edit_formulation_path(@formulation), class:"btn btn-outline-success btn-sm" %>
  <%= link_to "Back to formulations", formulations_path, class:"btn btn-outline-success btn-sm" %>
</div>
